<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">

  <title>The DomRep Rummy Cup - Laptop</title>
  <meta name="description" content="Laptop Ansicht">
  <meta name="author" content="SAKM">

  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="styles.css">

  <script src="./node_modules/jquery/dist/jquery.js"></script>
  <script src="./node_modules/tether/dist/js/tether.js"></script>
  <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="./node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="./node_modules/socket.io-client/dist/socket.io.js"></script>  

</head>
    

<body>
    <div id="app" class="container">

        <div class="row">
            <div class="col-10">
                <h2 style="text-align: center;">
                    <img src="cartoon-palms.jpg" width="100px"/>
                    DomRep RummyCup</h2>
            </div>

            <div class="d-flex flex-column col-2">
                <button class="btn btn-sm btn-primary m-1" v-on:click="giveCardToPlayer(0)">
                        Martin
                </button>
                
                <button class="btn btn-sm btn-primary m-1" v-on:click="giveCardToPlayer(1)">
                        Karin
                </button>
    
                <button class="btn btn-sm btn-primary m-1" v-on:click="giveCardToPlayer(2)">
                        Alicia
                </button>
    
                <button class="btn btn-sm btn-primary m-1" v-on:click="giveCardToPlayer(3)">
                        Simon
                </button>
            </div>
        </div>

        <div class="row">
            <button class="btn btn-sm btn-primary m-1" v-on:click="saveState()">
                    Save
            </button>

            <button class="btn btn-sm btn-primary m-1" v-on:click="loadState()">
                    Load last
            </button>
        </div>

        <div class="row">
            <div v-for="(currentCard, colIndex) in currentCards">
                <div v-bind:class="['card', 'currentCard', currentCard.color, (selectedCard != null && selectedCard.id == currentCard.id)? 'active' : '']"
                    v-on:click="selectCard(currentCard)">
                    <div class="card-block" >
                            <p class="cardText">{{ currentCard.value }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-stretch flex-wrap" v-for="(row, rowIndex) in board.rows">
            <div v-bind:class="[ 'card', 'cardSmall', card.card.color, 'm-1' ]" v-bind:id="card.id" 
                v-on:click="putCard(rowIndex, colIndex)"
                v-for="(card, colIndex) in row">
                    <p class="smallCardText">{{ card.card != null ? card.card.value : '' }}</p>
            </div>
        </div>
    </div>

    <!-- Loading Modal -->
    <div class="modal" id="loadingModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bitte warten...</h5>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            methods: {
                refreshMessage(resource) {
                    $('#loadingModal').modal('show');
                    this.$http.get(this.baseUrl +'board').then((response) => {
                        this.board = response.body.board;
                        this.$http.get(this.baseUrl +'currentCards').then((response) => {
                            this.currentCards = response.body;
                            $('#loadingModal').modal('hide');
                        });
                    });
                },

                putCard(row, col) {
                    var oldCard = JSON.parse(JSON.stringify(this.board.rows[row][col].card));

                    $('#loadingModal').modal('show');
                    // tausche Karte vom Board mit CurrentCard
                    this.$http.post(this.baseUrl +'putCard', {row: row, col: col,
                         card: this.selectedCard})
                    .then((response) => {
                        this.$http.post(this.baseUrl +'currentCard', oldCard)
                        .then((response) => {
                            $('#loadingModal').modal('hide');
                        });
                        
                        this.selectCard(null);
                    });
                },

                giveCardToPlayer(playerId) {
                    if (this.selectedCard != null) {
                        $('#loadingModal').modal('show');
                        this.$http.get(this.baseUrl +'giveCardToPlayer?playerId=' + playerId 
                            + "&cardId=" + this.selectedCard.id)
                        .then((response) => {
                            this.selectCard(null);
                            $('#loadingModal').modal('hide');
                        });
                    }
                },

                selectCard(card) {
                    this.selectedCard = card;
                },

                saveState() {
                    $('#loadingModal').modal('show');
                    this.$http.get(this.baseUrl +'save')
                    .then((response) => {
                        this.lastStateTimestamp = response.lastStateTimeStamp;
                        $('#loadingModal').modal('hide');
                    });
                },

                loadState() {
                    $('#loadingModal').modal('show');
                    this.$http.get(this.baseUrl +'load')
                    .then((response) => {
                        $('#loadingModal').modal('hide');
                    });
                }
            },
            data: {
                board: {},
                currentCards: [],
                baseUrl: '/',
                socket: {},
                selectedCard: null,
                isLoading: false,
                lastStateTimestamp: null
            },
            created: function () {
                try {
                    var that = this;
                    this.socket = io();

                    this.socket.on('refresh', function(msg) {
                        console.log('refresh');
                        that.refreshMessage();
                    });
                }
                catch (e) {
                    console.log(e);
                }
            }
        })
    </script>
</body>
</html>