<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">

    <title>The DomRep Rummy Cup - Mobil</title>
    <meta name="description" content="Mobile Ansicht">
    <meta name="author" content="SAKM">

    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="styles.css">

    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./node_modules/tether/dist/js/tether.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="./node_modules/socket.io-client/dist/socket.io.js"></script>  

</head>

<body>
    <div id="app" class="container">

        <div id="choosePlayerWrapper" class="d-flex flex-column" v-if="playerId < 0">
                <button class="btn btn-primary m-1" v-on:click="setPlayer(0)">
                        Martin
                </button>
                
                <button class="btn btn-primary m-1" v-on:click="setPlayer(1)">
                        Karin
                </button>
    
                <button class="btn btn-primary m-1" v-on:click="setPlayer(2)">
                        Alicia
                </button>
    
                <button class="btn btn-primary m-1" v-on:click="setPlayer(3)">
                        Simon
                </button>
        </div>

        <div class="row" v-if="playerId >= 0">
            <h5>Player: {{ playerId }}</h5>
            <button v-on:click="getCard" class="btn btn-primary getCardBtn"> 
                <span class="fa fa-plus" aria-hidden="true"></span> 
            </button>
        </div>

        <div class="row" v-if="playerId >= 0">
            <div class="d-flex justify-content-center flex-wrap"></div>
                <div v-bind:class="[ (currentCards.map(function(card) { return card.id; }).indexOf(card.id) >= 0) ? 'active' : '', 'card', card.color, 'm-2' ]" v-for="card in cards">
                    <div class="card-block" v-bind:id="card.id" v-on:click="setCurrentCard(card)">
                            <p class="cardText">{{ card.value }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            methods: {
                refreshMessage() {
                    this.$http.get(this.baseUrl + 'currentCards').then((response) => {
                        this.currentCards = response.body;
                    });

                    this.$http.get(this.baseUrl + 'cards?playerId=' + this.playerId).then((response) => {
                        this.cards = response.body.cards;
                    });
                },
                setCurrentCard(card) {
                    this.$http.post(this.baseUrl + 'currentCard', card).then((response) => {
                        this.refreshMessage();
                    });
                },

                getCard() {
                    this.$http.get(this.baseUrl + 'getCard?playerId=' + this.playerId).then((response) => {
                        this.refreshMessage();
                    });
                },

                setPlayer(playerId) {
                    this.playerId = playerId;
                    console.log("playerID: " + this.playerId); 
                    this.refreshMessage();
                }
            },
            data: {
                cards: [],
                playerId: -1,
                currentCards: [],
                baseUrl: '/',
                socket: {}
            },
            created: function () {
                try {
                    var that = this;
                    this.socket = io();

                    this.socket.on('refresh', function(msg) {
                        console.log('refresh');
                        that.refreshMessage();
                    });
                }
                catch (e) {
                    console.log(e);
                }
            }
        })
    </script>
</body>
</html>